.bottle-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 968px) {
    .bottle-container{
        grid-template-columns: repeat(2, 1fr);
    }
  }

@media only screen and (max-width: 600px) {
    .bottle-container{
        grid-template-columns: repeat(1, 1fr);
    }
  }